*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: hsl(210, 46%, 95%);
}

.container{
    font-family: 'Barlow Semi Condensed', sans-serif;
    width: 90%;
    min-width: 280px;
    max-width: 1245px;
    margin:auto;
    color: hsl(0, 0%, 100%);
    padding: 3em 0 0 0;
    font-size: 13px;
    height: 80%;
}

.other-bg, .white-bg{
    margin-bottom: 25px;
    border-radius: 6px;
    padding: 2em;
}

.box-1{    background: hsl(263, 55%, 52%) url("images/bg-pattern-quotation.svg") no-repeat 90% top;}

.box-2{    background: hsl(217, 19%, 35%);}

.box-4{    background: hsl(219, 29%, 14%);}

.white-bg{
    color: hsl(219, 29%, 14%);
    background: hsl(0, 0%, 100%);
}

.author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

img{
    border-radius: 50%;
    width: 3em;
    margin-right: 20px;
}

.box-1 img{
    border: 3px solid hsla(0, 0%, 100%, 50%)
}

.box-4 img{
    border: 3px solid hsl(263, 55%, 52%, 50%)
}

.name-status p{ font-size: 0.69rem;}

.other-bg .name-status p{   color: hsla(0, 0%, 100%, 50%);}

.white-bg .name-status p{   color:hsla(219, 29%, 14%, 50%);}


.summary{
    font-weight: bold;
    font-size: 1.365rem;
    margin-bottom: 20px;
}

.other-bg blockquote{   color: hsla(0, 0%, 100%, 70%);}
.white-bg blockquote{   color: hsla(219, 29%, 14%, 70%)}

.attribution { font-size: 11px; text-align: center; color: hsl(219, 29%, 14%); width:100%;}
.attribution a { color: hsl(228, 45%, 44%); }

/* Responsiveness */

@media screen and (min-width:580px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .container{
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        column-gap: 30px;
        row-gap: 30px;
        padding-bottom: 3em;
    }

    .other-bg,
    .white-bg{
        margin-bottom: 0;
    }

    .box-1{
        grid-column: 1/3;
        grid-row:1/2;
    }
    
    .box-2{
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .box-3{
        grid-column: 1/2;
        grid-row:2/3;
    }

    .box-4{
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .box-5{
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .attribution{
        grid-column: 1/3;
    }
}

@media screen and (min-width: 945px){
    .container{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        /* grid-template-rows: 1fr 1fr; */
        /* column-gap: 30px;
        row-gap: 30px; */
    }

    .box-1{
        grid-column: 1/3;
        grid-row:1/2;
    }

    .box-2{
        grid-column: 3/4;
        grid-row:1/2;
    }

    .box-3{
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .box-4{
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .box-5{
        grid-column: 4/5;
        grid-row: 1/3;
    }

    .attribution{
        grid-column: 1/6;
    }
}